/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import com.fasterxml.jackson.core.type.TypeReference;

import org.openapitools.client.ApiException;
import org.openapitools.client.ApiClient;
import org.openapitools.client.BaseApi;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;

import org.openapitools.client.model.Invite;
import org.openapitools.client.model.InviteDeleteResponse;
import org.openapitools.client.model.InviteListResponse;
import org.openapitools.client.model.InviteRequest;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2025-02-28T09:51:07.087747877-05:00[US/Eastern]", comments = "Generator version: 7.11.0")
public class InvitesApi extends BaseApi {

  public InvitesApi() {
    super(Configuration.getDefaultApiClient());
  }

  public InvitesApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Delete an invite. If the invite has already been accepted, it cannot be deleted.
   * 
   * @param inviteId The ID of the invite to delete. (required)
   * @return InviteDeleteResponse
   * @throws ApiException if fails to make API call
   */
  public InviteDeleteResponse deleteInvite(String inviteId) throws ApiException {
    return this.deleteInvite(inviteId, Collections.emptyMap());
  }


  /**
   * Delete an invite. If the invite has already been accepted, it cannot be deleted.
   * 
   * @param inviteId The ID of the invite to delete. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return InviteDeleteResponse
   * @throws ApiException if fails to make API call
   */
  public InviteDeleteResponse deleteInvite(String inviteId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'inviteId' is set
    if (inviteId == null) {
      throw new ApiException(400, "Missing the required parameter 'inviteId' when calling deleteInvite");
    }
    
    // create path and map variables
    String localVarPath = "/organization/invites/{invite_id}"
      .replaceAll("\\{" + "invite_id" + "\\}", apiClient.escapeString(apiClient.parameterToString(inviteId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "ApiKeyAuth" };

    TypeReference<InviteDeleteResponse> localVarReturnType = new TypeReference<InviteDeleteResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create an invite for a user to the organization. The invite must be accepted by the user before they have access to the organization.
   * 
   * @param inviteRequest The invite request payload. (required)
   * @return Invite
   * @throws ApiException if fails to make API call
   */
  public Invite inviteUser(InviteRequest inviteRequest) throws ApiException {
    return this.inviteUser(inviteRequest, Collections.emptyMap());
  }


  /**
   * Create an invite for a user to the organization. The invite must be accepted by the user before they have access to the organization.
   * 
   * @param inviteRequest The invite request payload. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Invite
   * @throws ApiException if fails to make API call
   */
  public Invite inviteUser(InviteRequest inviteRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = inviteRequest;
    
    // verify the required parameter 'inviteRequest' is set
    if (inviteRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'inviteRequest' when calling inviteUser");
    }
    
    // create path and map variables
    String localVarPath = "/organization/invites";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "ApiKeyAuth" };

    TypeReference<Invite> localVarReturnType = new TypeReference<Invite>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Returns a list of invites in the organization.
   * 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
   * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
   * @return InviteListResponse
   * @throws ApiException if fails to make API call
   */
  public InviteListResponse listInvites(Integer limit, String after) throws ApiException {
    return this.listInvites(limit, after, Collections.emptyMap());
  }


  /**
   * Returns a list of invites in the organization.
   * 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
   * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return InviteListResponse
   * @throws ApiException if fails to make API call
   */
  public InviteListResponse listInvites(Integer limit, String after, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/organization/invites";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("after", after));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "ApiKeyAuth" };

    TypeReference<InviteListResponse> localVarReturnType = new TypeReference<InviteListResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Retrieves an invite.
   * 
   * @param inviteId The ID of the invite to retrieve. (required)
   * @return Invite
   * @throws ApiException if fails to make API call
   */
  public Invite retrieveInvite(String inviteId) throws ApiException {
    return this.retrieveInvite(inviteId, Collections.emptyMap());
  }


  /**
   * Retrieves an invite.
   * 
   * @param inviteId The ID of the invite to retrieve. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Invite
   * @throws ApiException if fails to make API call
   */
  public Invite retrieveInvite(String inviteId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'inviteId' is set
    if (inviteId == null) {
      throw new ApiException(400, "Missing the required parameter 'inviteId' when calling retrieveInvite");
    }
    
    // create path and map variables
    String localVarPath = "/organization/invites/{invite_id}"
      .replaceAll("\\{" + "invite_id" + "\\}", apiClient.escapeString(apiClient.parameterToString(inviteId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "ApiKeyAuth" };

    TypeReference<Invite> localVarReturnType = new TypeReference<Invite>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "ApiKeyAuth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
